body {
    margin: 0;
    padding: 0;
    color: #26294a;
    letter-spacing: 0;
    background: #f7f7f7;
}

.navbar {
    background-color: #00001a;
}

/*.navbar-collapse .mr-1 {*/
/*margin-right: 10.25rem!important;*/
/*}*/

.navbar-brand {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}

.navbar-brand img {
    width: 40px;
    height: auto;
    padding-left: 20px;
}

.navbar-collapse {
    flex-grow: initial;
    -webkit-box-align: center;
    align-items: center;
}

.nav-item .nav-link {
    font-size: 18px;
}

.search-box {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    /*background: #2f3640;*/
    background: linear-gradient(to right, #f66e18, #99c621);
    /*background: linear-gradient(#e1304d, #f66e18);*/
    height: 40px;
    border-radius: 30px;
    padding: 5px;
}

.search-box:hover > .search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: #00001a;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*background: #2f3640;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    background: none;
    border: none;
    outline: none;
    float: left;
    color: #ffffff;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
}

.card-title h5 {
    font-size: 18px;
    color: #701e41;
}

.card-text {
    text-align: left;
    font-size: small;
}

.row {
    width: 100.8%;
    height: 5px;
}

.gradient0 {
    background: linear-gradient(to right, #fb2e67, #e6539a, #ffb333, #84c81b, #98ca13, #0abb6d, #009577);
}

.btn {
    border-color: #00001a;
}

.btn-outline {
    background-color: #ffffff;
    border: 1px solid #00001a;
    border-radius: 10px;
}

.btn-outline:hover {
    background-color: #00001a;
    color: #ffffff;
}

.figure {
    width: 100%;
    height: auto;
}

.figure-caption .card-title {
    color: #0abb6d;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.figure .figure-img {
    position: relative;
    /*float: left;*/
    width:  300px;
    height: 150px;
    background: no-repeat 50% 50%;
    background-size: cover;
}

.maincontainer {
    padding: 0 17%;
}

.nameColor {
    color: #85155f; /* #066057; #261f72; #ed2b44;*/
}

.btn-style {
    background: linear-gradient(#e9e8e6, #FFF) padding-box center,
    linear-gradient(to right, #3C1053FF, #DF6589FF) border-box;
    background-size: 100% 100%, auto;
    border: 1px solid transparent;
    font-family: 'Acme', sans-serif;
    color: #3b3e5c;
    border-radius: 6px;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
    padding: auto;
}

/*Tags with colors*/
#java {
    background: linear-gradient(#e9e8e6, #FFF) padding-box center,
    linear-gradient(to right, #4e768f, #f8991b) border-box;
}

#django {
    background: linear-gradient(#e9e8e6, #FFF) padding-box center,
    linear-gradient(to right, #2f9600, #ffd43a) border-box;
}

#python {
    background: linear-gradient(#e9e8e6, #FFF) padding-box center,
    linear-gradient(to right, #356a96, #ffd43a) border-box;
}

#html {
    background: linear-gradient(#e9e8e6, #FFF) padding-box center,
    linear-gradient(to right, #e54d26, #f16528) border-box;
}

#css {
    background: linear-gradient(#e9e8e6, #FFF) padding-box center,
    linear-gradient(to right, #0071b7, #1b84be) border-box;
}

/* article font */
.article-font {
    font-size: 18px;
}

@media only screen and (max-width: 1366px) {
    .row {
        width: 101.1%;
        height: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .search-box {
        position: relative;
        top: 50px;
        left: 9%;
        transform: translate(-10%, -120%);
        /*background: #2f3640;*/
        background: linear-gradient(to right, #f66e18, #99c621);
        /*background: linear-gradient(#e1304d, #f66e18);*/
        height: 40px;
        border-radius: 30px;
        padding: 5px;
    }

    .search-box:hover > .search-txt {
        width: 200px;
        padding: 0 6px;
    }
}