body {
    color: #26294a;
}

.navbar-brand {
    font-family: 'Caveat Brush', serif;
    font-size: 30px;

}

.navbar-brand img {
    width: 40px;
    height: auto;
    padding-left: 20px;
}

.navbar-collapse {
    flex-grow: initial;
    -webkit-box-align: center;
    align-items: center;
}

.card-deck a {
    text-decoration: none;
}

.card h5, p {
    text-align: left;
}

.card-img-top {
    width: 100%;
    height: auto;
}

footer {
    padding: 10px;
    color: #ffffff;
    background-color: #0d0d0d;
    text-align: center;
}



.row {
    height: 5px;
}

.gradient0 {
    background: linear-gradient(to left, #022b7a, #26294a, #055459, #077353, #14c285, #abd96d, #fcbf54, #ee6c3b, #ec0e47, #a02c5d, #710461, #022b7a);
}

.btn-primary {
    background-color: #055459;
    padding: 0;
    cursor: none;
    pointer-events: none;
}

.noHover{
    pointer-events: none;
}

.btn-outline-secondary {
    background-color: #ffffff;
    border-color: darkgray;
}

.btn-outline-secondary:hover {
    background-color: #ffffff;
    color: #85155f;
}

.maincontainer {
    padding: 0 17%;
}

.nameColor {
    color: #85155f; /* #066057; #261f72; #ed2b44;*/
}

/* size of button */
.btn-style{
    width: fit-content;
    height: 20px;
    font-size: 12px;
    background-color: #055459;
  /*  background-color:#092b71; */
 /*   background-color: #343a40; */
    border: #055459;
    color: white;
    padding-bottom: 8px;
}

/* article font */

.article-font{
    font-size: 18px;
}
