body {
    width: 100%;
    height: auto;
}

.navbar-brand {
    font-family: 'Caveat Brush', serif;
    font-size: 30px;

}

.navbar-brand img {
    width: 40px;
    height: auto;
    padding-left: 20px;
}

.navbar-collapse {
    flex-grow: initial;
    -webkit-box-align: center;
    align-items: center;
}

.card-deck a {
    text-decoration: none;
}

.card h5, p {
    text-align: left;
}

.card-img-top {
    width: 100%;
    height: auto;
}

footer {
    padding: 10px;
    margin-top: 30px;
    color: #ffffff;
    background-color: #0d0d0d;
    text-align: center;
}

body {
    color: #26294a;
}

.row {
    height: 5px;
}

.gradient0 {
    background: linear-gradient(to left, #022b7a, #26294a, #055459, #077353, #14c285, #abd96d, #fcbf54, #ee6c3b, #ec0e47, #a02c5d, #710461, #022b7a);
}

.btn-primary {
    background-color: #337ab7;
    padding: 0;

}

.btn-outline-secondary {
    background-color: #ffffff;
    border-color: darkgray;
}

.btn-outline-secondary:hover {
    background-color: #ffffff;
    color: #85155f;
}

.maincontainer {
    padding: 0 17%;
}

.nameColor {
    color: #85155f; /* #066057; #261f72; #ed2b44;*/
}